
* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --primary: #0D3B66;
  --secondary:#FAF0CA ;
  --tertiary:#F95738 ;
  --fourth: #EE964B;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
}

html,
body {
  min-height: 100%;
  background-color: var(--secondary);
}

header {
  background-color: var(--primary);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  padding-bottom: 5px;
  
}
.container-tabs {
  display: flex;

}
.nav{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 4px;
  width: 100%;
  color: var(--light);
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  list-style: none;
}

h1 {
  padding-top: 10px;
}
.search{
  display: inline-block;
  justify-content: center;
 
}

a{
  color: var(--light);
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: space-between;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  overflow-wrap: normal;
  
}

.card {
  background-color: var(--secondary);
  justify-content: center;
  text-align: center;
  overflow: hidden;
}


.card-img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px black;
  
}

.card-body {
  background-color: var(--light);
  border: solid 2px black;
}

.container-login {
  flex-direction: column;
  margin: 50px 200px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
}
.container-login h2{
  margin-bottom: 5px;

}

.container-signup {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-evenly;
}
.column-1 {
 border: 1px solid black;
 display: block;
 padding: 7px 15px;
 font-size: 16px;
 width: 50%;
 height: inherit;
 margin-bottom: 15px;
 border-radius: 10px; 
}

.column-1 h2 {
  font-size: 25px;
}

.column-1 p {
  padding: 10px 0;

}

.column-2 {
 border: 1px solid black;
 display: block;
 padding: 7px 15px;
 font-size: 16px;
 width: auto;
 margin-bottom: 15px;
 border-radius: 10px;
}

.Signup-form{
  padding: 20px;
  color: var(--secondary-color); 
  width: 30%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0 0, 0.5);
  border-radius: 15px;
}

input {
  border: 1px solid ;
  display: block;
  padding: 7px 10px;
  font-size: 16px;
  width: 90%;
  margin-bottom: 15px;
}

button {
  border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 5px;
}
form button:hover {
  background-color: var(--fourth);
}
.home {
  padding-left: 40px;
}

