
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #002C3F;
  --secondary:#FAF0CA;
  --tertiary:#F95738;
  --fourth: #EE964B;
  --light: #fafafa;
  --background: #147ba7;
  --gray: #D3D3D3;
}

html,
body {
  min-height: 100%;
  background-color: var(--primary);
}

header {
  width: 90%;
  margin: 0 auto;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.title a {
  font-size: 48px;
  font-family: 'Fjalla One';
  font-weight: normal;
  padding: 0;
  margin: 15px 0 15px;
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header a {
  color: var(--fourth);
  text-decoration: none;
  padding: 5px 0 5px 30px;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

header a:hover {
  color: var(--background);
}

.search-container,
.radio-form-container {
  background-color: var(--light);
  padding: 35px 0;
}

.search {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}

.search input {
  flex-grow: 2;
  border: 1px solid var(--primary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  padding-left: 15px;
  font-size: 28px;
}

.search input:focus {
  outline: none;
}

.search button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--primary);
  color: var(--light);
  font-size: 16px;
  border: none;
  padding: 5px;
}

.search button:hover {
  background: var(--background);
  cursor: pointer;
}

.error-text {
  margin: 25px 10px;
  color: var(--fourth);
  text-align: center;
}

.content-background {
  padding: 25px 0 25px;
}

.showcard-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--light);
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.card-img {
  display: block;
  width: 210px;
  height: 295px;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  font-size: 20px;
  flex-grow: 2;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  background-color: var(--light);
  border-radius: 10px;
}

.card-body a {
  color: var(--background);
}

.card-select {
  font-size: 16px;
  text-align: center;
  text-align-last:center;
}

.radio-form {
  text-align: center;
  font-size: 30px;
  margin: 10px 0 10px;
}

.radio-form div,
.radio-form div input,
.radio-form div label {
  display: inline;
  padding-bottom: 5px;
}

.radio-form div label {
  color: var(--primary);
  font-size: 30px;
}

.radio-form div label:hover {
  border-bottom: 3px solid var(--fourth);
}

.radio-form div input {
  display: none;
}

.radio-form input:checked ~ label {
  color: var(--background);
  border-bottom: 3px solid var(--fourth);
}

.credentials-form-container {
  background-color: var(--light);
  padding: 80px 0;
  background-color: var(--light);
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.credentials-form-container label {
  display: block;
  font-size: 24px;
}

.credentials-form-container input {
  display: block;
  /* border: none; */
  border-radius: 5px;
  font-size: 16px;
  width: 350px;
  padding: 8px;
  margin-bottom: 8px;
}

.credentials-form-container input:focus {
  outline: 0px solid var(--fourth);
  border: 2px solid var(--fourth);
}

.credentials-form-container button {
  background-color: var(--primary);
  color: var(--fourth);
  display: block;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  width: 370px;
  padding: 8px;
  margin-top: 15px;
}

.credentials-form-container button:hover {
  background-color: var(--background);
}

.call-to-action {
  font-size: 26px;
  color: var(--primary);
  width: 80%;
  margin: 0 auto 40px;
  text-align: center;
}

/* Hover Animation */
.img-link-container {
  padding: 0;
}

.img-link-container::after {
  content: '';
  clear: both;
  display: block;
}

.img-link-container div {
  position: relative;
  float: left;
  width: 210px;
  height: 295px;
  margin: 0 0 0 25px;
  padding: 0;
}

.img-link-container div:first-child {
  margin-left: 0;
}

.img-link-container div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

figure {
  width: 210px;
  height: 295px;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

figure:hover+span {
  bottom: -36px;
  opacity: 1;
}

.shine-hover figure {
  position: relative;
}

.shine-hover figure::before {
  position: absolute;
  top: 0;
  left: -83%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.shine-hover figure:hover::before {
  animation: shine .75s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@media screen and (max-width: 750px) {
  .radio-form-container {
    padding: 15px 0;
  }

  .radio-form div,
  .radio-form div label {
    display: block;
    padding-bottom: 0;
  }
  
  .radio-form div {
    border-top: 1px solid var(--fourth);
    border-bottom: 1px solid var(--fourth);
  }

  .radio-form input:checked ~ label {
    color: var(--background);
    border-bottom: none;
    background-color: var(--gray);
  }

  .separator-span {
    display: none;
  }
}


@media screen and (max-width: 525px) {
  header {
    flex-flow: column nowrap;
    justify-content: center;
  }

  header nav ul li {
    padding: 0 20px 0 20px;
  }
  
  header nav ul a {
    padding: 0;
  }
  
  .search {
    width: 95%;
  }
  
  .search input {
    padding: 0;
    padding-left: 5px;
    font-size: 20px;
    text-align: center;
  }

  .showcard-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  
  .card {
    flex-flow: column nowrap;
  }

  .card-body h3 {
    margin-top: 10px;
  }

  .card-body div p {
    font-size: 24px;
  }
}

@media screen and (max-width: 450px) {
  .search input {
    font-size: 20px;
    text-align: center;
  }
}